form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
h3{
    font-size: 28px !important;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px !important;
}
button{
    width: 100px !important;
}
button:nth-child(1){
    margin-right: 10px !important;
    background-color: red;
    color: white;
}
button:nth-child(2){
    background-color: green;
    color: white;
}