    <div>
        <div class="flex justify-between items-center h-50">
            <h3 class="flex-1">Users</h3>
            <div class="flex items-center row flex-2 flex-end">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input type="text" matInput placeholder="search">
                </mat-form-field>
                <div class="ml-2">
                    <mat-icon class="filter" (click)="filter()">filter_alt</mat-icon>
                    <mat-icon class="filter" (click)="create()">add_box</mat-icon>
                </div>
            </div>
        </div>
        <app-table></app-table>
    </div>

