<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div>
            <img src="images/boy.png" alt="profile" class="profile">
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="simple">
            <div>
                <h3>Name -</h3>
                <h3>NRC -</h3>
                <h3>Dept -</h3>
                <h3>Post -</h3>
                <h3>CardNo -</h3>
            </div>
            <div>
                <h3>Arkar</h3>
                <h3 class="name">12/ZZZ(N)456789</h3>
                <h3>Software</h3>
                <h3>Office Staff</h3>
                <h3>122334</h3>
            </div>
        </div>
    </mat-card-content>
</mat-card>