ul{
    padding: 0px !important;
    margin: 0px !important;
}
.active{
    background-color: #ec9bf4;
    box-shadow: 3px 3px 5px white;
    transition: all 1s ease-in-out;
    color: black;
}
a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    padding:15px 10px !important;
}
span{
    font-size: 14px !important;
}