ul{
    padding: 0px !important;
    margin: 0px !important;
}
.active{
    background-color: #0096877e;
    box-shadow: 1px 1px 3px white;
    transition: all 0.5s ease-in-out;
}
a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    padding:15px 10px !important;
}
span{
    font-size: 14px !important;
}