mat-drawer-container{
    height: calc(100vh - 70px);
    width: 100%;
}
mat-drawer{
    width: 16%;
    background-color: rgba(0, 0, 0, 0.7);
}
mat-drawer-content{
    padding: 10px 20px !important;
}
mat-toolbar{
    height: 70px !important;
    background-color:  #009687e2;
}
span{
    font-size: 20px !important;
    color: #ffffff;
    font-weight: 500;
}
.menu{
    color: #ffffff !important;
}