<mat-toolbar class="flex justify-between items-center ptb">
    <div class="items-center flex">
        <span class="prl-1">Third Party Test App</span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon class="menu">menu</mat-icon>
        </button>
    </div>
    <div class="flex items-center">
        <mat-icon class="mrl-1 menu"  matBadge="10" aria-hidden="false">notifications</mat-icon>
        <img src="https://avatar.iran.liara.run/public/boy?username=[koko]" alt="profile-Image" class="icon-image shadow">
    </div>
</mat-toolbar>